// Begin Corlor Variables

$accent: #f27507 !default;
$white: #ffffff !default;
$black: #000000 !default;

$primary: $accent ;
$secondary: #feefe6 ;

$grey-1: #fafafa !default;
$grey-2: #f5f5f5 !default;
$grey-3: #eaeaea !default;
$grey-4: #d4d4d4 !default;
$grey-5: #adadad !default;
$grey-6: #808080 !default;
$grey-7: #333333 !default;

$blue-1: #c1d6ff !default;
$blue-2: #79a2ff !default;
$blue-3: #2957ff !default;
$blue-4: #0025d8 !default;
$blue-5: #0019b6 !default;

$green-1: #e4ffe7 !default;
$green-2: #80df8d !default;
$green-3: #01c01b !default;
$green-4: #008f14 !default;
$green-5: #006b0f !default;

$teal-1: #defefd !default;
$teal-2: #a8e8e3 !default;
$teal-3: #68c7c0 !default;
$teal-4: #499790 !default;
$teal-5: #2f6965 !default;

$yellow-1: #fffadd !default;
$yellow-2: #fff2a9 !default;
$yellow-3: #f9de4a !default;
$yellow-4: #e2c521 !default;
$yellow-5: #ab9a19 !default;

$orange-1: #feefe6 !default;
$orange-2: #fabe9c !default;
$orange-3: #f27507 !default;
$orange-4: #c24a06 !default;
$orange-5: #913804 !default;

$red-1: #ffdede !default;
$red-2: #ff7979 !default;
$red-3: #ff1919 !default;
$red-4: #cf001e !default;
$red-5: #83001a !default;

$facebook: #3578e5 !default;
$google: #f5f5f5 !default;

$color-maps: (
  "black": $black,
  "white": $white,
  "accent": $accent,
  "primary": $primary,
  "secondary": $secondary,
  "grey-1": $grey-1,
  "grey-2": $grey-2,
  "grey-3": $grey-3,
  "grey-4": $grey-4,
  "grey-5": $grey-5,
  "grey-6": $grey-6,
  "grey-7": $grey-7,
  "blue-1": $blue-1,
  "blue-2": $blue-2,
  "blue-3": $blue-3,
  "blue-4": $blue-4,
  "blue-5": $blue-5,
  "red-1": $red-1,
  "red-2": $red-2,
  "red-3": $red-3,
  "red-4": $red-4,
  "red-5": $red-5,
  "teal-1": $teal-1,
  "teal-2": $teal-2,
  "teal-3": $teal-3,
  "teal-4": $teal-4,
  "teal-5": $teal-5,
  "yellow-1": $yellow-1,
  "yellow-2": $yellow-2,
  "yellow-3": $yellow-3,
  "yellow-4": $yellow-4,
  "yellow-5": $yellow-5,
  "orange-1": $orange-1,
  "orange-2": $orange-2,
  "orange-3": $orange-3,
  "orange-4": $orange-4,
  "orange-5": $orange-5,
  "green-1": $green-1,
  "green-2": $green-2,
  "green-3": $green-3,
  "green-4": $green-4,
  "green-5": $green-5,
  "facebook": $facebook,
  "google": $google,
) !default;

// End Color Variables

// Begin Border Radius Variables

$border-radius-xl: 16 !default;
$border-radius-lg: 12 !default;
$border-radius-md: 8 !default;
$border-radius-sm: 4 !default;
$border-radius-max: 200 !default;

$border-radius-maps: (
  "sm": $border-radius-sm,
  "md": $border-radius-md,
  "lg": $border-radius-lg,
  "xl": $border-radius-xl,
  "max": $border-radius-max,
) !default;

// End Border Radius Variables

// Begin Text Size with Line Height

$textSizes: (
  10: 14,
  12: 16,
  14: 18,
  16: 22,
  18: 24,
  20: 26,
  28: 38,
  36: 48,
) !default;

// End Text Size with Line Height
