// Begin Heading

@mixin text-size($class, $fontSize, $lineHeight) {
  .ns-ios {
    .#{$class} {
      font-size: $fontSize;
      line-height: $lineHeight;
    }
  }

  .ns-android {
    .#{$class} {
      font-size: $fontSize;
      line-height: ($lineHeight - $fontSize)/2;
    }
  }
}

// End Heading
