/* Begin Functions */

@function rem-to-dip($size) {
  @if unit($size) != "em" or unit($size) != "rem" {
    @return $size / ($size * 0 + 1);
  }

  $value: $size * $font-size;

  @return round($value);
}

@function check-contrast($color) {
  $color-brightness: round(
    (red($color) * 299) + (green($color) * 587) + (blue($color) * 114) / 1000
  );
  $light-color: round(
    (red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000
  );

  @return abs($color-brightness) < ($light-color / 1.7);
}

@function alternate($color, $lighten: 60%, $darken: null) {
  $darken: if($darken != null, $darken, $lighten);

  @return adjust-color(
    $color,
    $lightness: if(check-contrast($color), $lighten, -$darken)
  );
}

@function scale-alternate($color, $lighten: 60%, $darken: null) {
  $darken: if($darken != null, $darken, $lighten);

  @return scale-color(
    $color,
    $lightness: if(check-contrast($color), $lighten, -$darken)
  );
}

@function contrasted($color, $to-color, $lighten: 60%, $darken: null) {
  $darken: if($darken != null, $darken, $lighten);

  @return adjust-color(
    $color,
    $lightness: if(check-contrast($to-color), $lighten, -$darken)
  );
}

@function scale-contrasted($color, $to-color, $lighten: 60%, $darken: null) {
  $darken: if($darken != null, $darken, $lighten);

  @return scale-color(
    $color,
    $lightness: if(check-contrast($to-color), $lighten, -$darken)
  );
}

@function slice($list, $start: 1, $end: length($list)) {
  $result: ();

  @if ($start > $end) {
    @return $result;
  }

  @for $i from $start through $end {
    $result: append($result, nth($list, $i));
  }

  @return $result;
}

/* End Functions */

// Begin Animation

@mixin animation($name, $duration, $mode: forwards) {
  animation-name: $name;
  animation-duration: $duration;
  animation-fill-mode: $mode;
}

// End Animation
