<template>
    <Page>
      <ActionBar title="My App">
        <ActionItem 
       
          v-show="!isEditing"
          ios.systemIcon="2" ios.position="right"
          @tap="goBack"
          android.systemIcon="ic_menu_edit" />
        <ActionItem @tap="onTapSave"
          v-show="isEditing"
          ios.systemIcon="3" ios.position="right"
          android.systemIcon="ic_menu_save" />
        <ActionItem @tap="onTapCancel"
          v-show="isEditing"
          ios.systemIcon="1"
          android.systemIcon="ic_menu_close_clear_cancel" />
          <NavigationButton text="Go back" android.systemIcon="ic_menu_back" @tap="goBack" />
      </ActionBar>
     <FlexboxLayout backgroundColor="#fff">
      <TabView selectedTabTextColor="yelow"  iosIconRenderingMode="alwaysOriginal" tabBackgroundColor="#84e0c582" tabTextColor="red" :selectedIndex="selectedIndex" @selectedIndexChange="indexChange">
        <TabViewItem  class="textBold" title="Motification" iconSource="~/images/icon.png">
          <ScrollView>
            <StackLayout class="tab-content">
              <TextView editable="false">
                <FormattedString>
                    <Span
                        text="<GridLayout> is a layout container that lets you arrange its child elements in a table-like manner. The grid consists of
                rows, columns, and cells. A cell can span one or more rows and one or more columns. It can contain multiple child elements
                which can span over multiple rows and columns, and even overlap each other. By default, <GridLayout> has one column and
                  one row. You can add columns and rows by configuring the columns and the rows properties. In these properties, you need
                  to set the number of columns and rows and their width and height. You set the number of columns by listing their widths,
                  separated by a comma. You set the number of rows by listing their heights, separated by a comma. You can set a fixed size
                  for column width and row height or you can create them in a responsive manner: An absolute number: Indicates a fixed size.
                  auto: Makes the column as wide as its widest child or makes the row as tall as its tallest child. *: Takes as much space
                  as available after filling all auto and fixed size columns or rows. See Props for more information." />
                  </FormattedString>
              </TextView>
              <!-- <Label text="Content for Tab 1" /> -->
              <GridLayout columns="*, *" rows="*,*">
                <!-- <Label text="0,0" backgroundColor="#43b883"/> -->
                <Button @tap="increment"  backgroundColor="#43b883" row="0" col="0"  text="+" />
                <Button row="0" col="1"  backgroundColor="#43b883" @tap="decrement" text="-" />
              </GridLayout>
              <!-- <Button @tap="increment" text="+" />
              <Button @tap="decrement" text="-" /> -->
              
              <Label :text="count"  height="40" backgroundColor="#1c6b48" class="text-result"/>
              <FlexboxLayout flexDirection="row-reverse">
                <TextView editable="true">
                    <FormattedString>
                        <Span
                            text="This is a text view that uses attributed text. You can use text attributes such as " />
                        <Span text="bold, " fontWeight="Bold" />
                        <Span text="italic " fontStyle="Italic" />
                        <Span text="and " />
                        <Span 
                        text="Class Names
  The NativeScript core theme contains a wide variety of CSS class names you can use to style your applications quickly. Here’s a complete list of the class names and what they do.

  Headings
  The following heading class names can be used to create headings, much like you would use <h1> or <h2> elements on the web.

  h1
  h2
  h3
  h4
  h5
  h6
  Here are a few examples of how you could use these class names.."
   textDecoration="Underline" />
                    </FormattedString>
                </TextView>

            </FlexboxLayout>
            </StackLayout>
          </ScrollView>
        </TabViewItem>
        <TabViewItem title="Chat">
          <ScrollView>
           <StackLayout>
            <Label text="Content for Tab 2" />
            <Label text="DockLayout" />
            <DockLayout backgroundColor="lightgray"
              stretchLastChild="false">
              <Label text="left" dock="left" width="60" backgroundColor="red" />
              <Label text="top" dock="top" height="60"
                  backgroundColor="green" />
              <Label text="right" dock="right" width="60"
                  backgroundColor="blue" />
              <Label text="Dock to every side and stretch the last child
                  The following example shows how stretchLastChild affects the positioning of child elements in a DockLayout container. The last child (bottom) is stretched to take up all the remaining space after positioning the first three elements." 
                  dock="bottom" height="60"
                  backgroundColor="yellow" />
              <ScrollView>
                <StackLayout>
                  <Label text="Content for Tab 2" />
                  <Label text="DockLayout" />
                  <TextView editable="false">
                  <FormattedString>
                      <Span
                          text="<GridLayout> is a layout container that lets you arrange its child elements in a table-like manner. The grid consists of
                    rows, columns, and cells. A cell can span one or more rows and one or more columns. It can contain multiple child elements
                    which can span over multiple rows and columns, and even overlap each other. By default, <GridLayout> has one column and
                      one row. You can add columns and rows by configuring the columns and the rows properties. In these properties, you need
                      to set the number of columns and rows and their width and height. You set the number of columns by listing their widths,
                      separated by a comma. You set the number of rows by listing their heights, separated by a comma. You can set a fixed size
                      for column width and row height or you can create them in a responsive manner: An absolute number: Indicates a fixed size.
                      auto: Makes the column as wide as its widest child or makes the row as tall as its tallest child. *: Takes as much space
                      as available after filling all auto and fixed size columns or rows. See Props for more information." />
                      </FormattedString>
                  </TextView>
                
                 

                </StackLayout>
                </ScrollView>
            </DockLayout>
            <Label text="AbsoluteLayout" />
            <Label text="This is an overview of the most common usage of AbsoluteLayout. See the NativeScript docs for more information about AbsoluteLayout. For more information about the available properties, methods, or events, head over to the complete API documentation for AbsoluteLayout." 
            />
            <AbsoluteLayout backgroundColor="lightgray">
                
                <Label text="10, 110" left="10" top="10" width="300" height="300"
                    backgroundColor="yellow" />
                <Label text="110, 110" left="110" top="110" width="90" height="90"
                    backgroundColor="blue" />
            </AbsoluteLayout>


           </StackLayout>
           </ScrollView>
        </TabViewItem>
      </TabView>
    </FlexboxLayout>
    </Page>
</template>

<script >
  export default {
    data() {
      return {
        msg: 'Hello World!'
      }
    },
    methods: {
      indexChange: function(args) {
          let newIndex = args.value
          console.log('Current tab index: ' + newIndex)
      },

      goBack: function(args) {
          let newIndex = args.value
          console.log('Current tab index: ' + newIndex)
          this.$navigateBack()
      },
      increment() {
        this.$store.commit('increment')
      },
      decrement() {
        this.$store.commit('decrement')
      }
    },
    computed: {
      count(){
        return this.$store.state.count
      }
    },
  }
</script>

<style scoped>
  .tab-content{padding:10px 16px;}
  .text-result{
    text-align:center;
    padding: 20px;
    font-size: 16px;
    color:red;
    margin-bottom:20px;
  }
  .textBold{ 
    font-weight:600
  }
  ActionBar {
      background-color: #53ba82;
      color: #ffffff;
  }

  .message {
      vertical-align: center;
      text-align: center;
      font-size: 20;
      color: #333333;
  }
</style>
