
<template>
  <!-- <BPage title="Login with email" theme="white" has-action-back> -->
    
    <Page>
        <ActionBar title="Browse page"/>
        <ScrollView>
           <StackLayout>
            <Label class="message" :text="msg" />
            <!-- <Image src="~/logo.png"  /> -->
             <!-- <buttoncounter/> -->
            <Image src="~/assets/images/logo.png" width="238" height="110"/>
            <Image src="~/assets/images/logo.png" width="238" height="110"/>
            <BButton
              ghost
              primary
              class="mt-16"
              text="Forgot password"
              @tap="$navigator.navigate('/auth/forgot-password')"
            />
            <BIconLabel
              name="check"
              size="90"
            />
            <Button>
              <!-- <FormattedString> -->
                <BIconLabel
                  name="check"
                  size="90"
                />
                <Span text="red " style="color: red" />
              <!-- </FormattedString> -->
            </Button>
            <BButton icon text="Post"  prefixIcon="check">
             
            </BButton>
            <Label :text="$navigator.path" />
            <Button backgroundColor="#3c495e" color="#fff" text="To Main" 
            @tap="goToDetailPage" />
             <Button backgroundColor="#3c495e" color="#fff" text="To modal" 
             @tap="goToBottomPage" />
        </StackLayout>
        </ScrollView>
       
    </Page>
  <!-- </BPage> -->
</template>

<script >
  import Search from './Search'
  export default {
    data() {
      return {
        msg: 'Hello World!',
        detailPage: Detail
      }
    },

    methods: {
      goToDetailPage() {
        // this.$navigateTo(this.detailPage);
        this.$navigator.navigate('/main')
        // this.msg="123"
      },
      goToBottomPage(){
        this.$navigator.navigate('/modal')
      }

    }
  }

const Detail = {
  template: `
    <Page>
      <ActionBar title="Detail"/>
      <StackLayout>
        <Label text="Details.." />
      </StackLayout>
    </Page>
  `
};
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
