<template>
	<!-- <BPage title="Login with email" theme="white" has-action-back> -->

	<Page actionBarHidden="true">
		<!-- <ActionBar title="Browse page" /> -->
		<ScrollView class="bg-splash">
			<StackLayout class=" py-64">
				<!-- <Image src="~/logo.png"  /> -->
				<!-- <buttoncounter/> -->
				<Image
					src="~/assets/images/logo.png"
					width="238"
					height="110"
				/>
				<StackLayout class="box mx-24 mb-24 px-24 py-24">
					<!-- <Label class="message" :text="msg" /> -->
					<Label class="h3" text="Log in" />
					<BButton
						primary
						text="Log in with email"
						class="mt-24"
						@tap="$navigator.navigate('/auth/login')"
					/>
					<BButton
						ghost
						primary
						class="mt-16"
						text="Create an account"
						@tap="$navigator.navigate('/auth/register-step-1')"
					/>

					<BTextDivider text="or" />
					<BButton facebook @tap="handleFacebookAuth">
						<Image
							slot="prefix"
							src="res://social_facebook"
							width="14"
							height="14"
						/>
						<Label text="Continue with Facebook" />
					</BButton>
					<BButton google class="mt-16" @tap="handleGoogleAuth">
						<Image
							slot="prefix"
							src="res://social_google"
							width="14"
							height="14"
						/>
						<Label text="Continue with Google" /> 
          </BButton>
          <Label textWrap class="text-14 text-center mt-16">
						<FormattedString>
							<Span
								text="By continuing, you understand & agree to "
							/>
							<!-- <BLineBreak /> -->
							<Span text="Tour Guide Plan " />
							<Span text="Terms of Use " class="font-700" />
							<!-- <BLineBreak /> -->
							<Span text="and " />
							<Span text="Privacy Policy" class="font-700" />
						</FormattedString>
					</Label>
				</StackLayout>

				<BIconLabel name="check" size="90" />
				<Button>
					<!-- <FormattedString> -->
					<BIconLabel name="check" size="90" />
					<Span text="red " style="color: red" />
					<!-- </FormattedString> -->
				</Button>
				<BButton icon text="Post" prefixIcon="check"> </BButton>
				<Label :text="$navigator.path" />
				<Button
					backgroundColor="#3c495e"
					color="#fff"
					text="To Main"
					@tap="goToDetailPage"
				/>
				<Button
					classs=" btn btn--primary"
					text="To modal"
					@tap="goToBottomPage"
				/>
			</StackLayout>
		</ScrollView>
	</Page>
	<!-- </BPage> -->
</template>

<script>
	import Search from "./Search";
	export default {
		data() {
			return {
				msg: "Hello World!",
				detailPage: Detail,
			};
		},

		methods: {
			goToDetailPage() {
				// this.$navigateTo(this.detailPage);
				this.$navigator.navigate("/main");
				// this.msg="123"
			},
			goToBottomPage() {
				this.$navigator.navigate("/modal");
			},
		},
	};

	const Detail = {
		template: `
    <Page>
      <ActionBar title="Detail"/>
      <StackLayout>
        <Label text="Details.." />
      </StackLayout>
    </Page>
  `,
	};
</script>

<style scoped lang="scss">
	.bg-splash {
		background-image: url("~/assets/images/splash_background.png");
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		padding: 15;
	}
	.box {
		background: rgb(255, 255, 255);
		border-radius: 16;
		box-shadow: 1 6 24 0 #000;
		margin-top: 64;
	}
	.title {
		// color: rgb(58, 58, 58);
		font-size: 20px;
		font-weight: 600;
	}
	.message {
		vertical-align: center;
		text-align: center;
		font-size: 20;
		// color: #333333;
	}
</style>
