
<template>
    <BottomNavigation>
      <TabStrip>
        <TabStripItem>
          <Label text="Home"></Label>
        </TabStripItem>
        <TabStripItem>
          <Label text="Browse"></Label>
        </TabStripItem>
      </TabStrip>

      <TabContentItem>
        <Frame id="homeTabFrame">
          <Items />
        </Frame>
      </TabContentItem>

      <TabContentItem>
        <Frame id="browseTabFrame">
          <Browse />
        </Frame>
      </TabContentItem>

    </BottomNavigation>
</template>

<script >

 import Items from './Modal.vue';
 import Browse from './Browse.vue';

  export default {
    components: {
     Items,
      Browse,
    },
  
  }

</script>
