
<template>
    <Page>
      <ActionBar title="Detail"/>
      <StackLayout>
        <Label :text="id" />
        <Button @tap="$modal.close" text="Close" />
        <Button text="Show Details modally" @tap="showDetailPageModally" />
        <Button text="Go back" @tap="goBack" />
      </StackLayout>
    </Page>
</template>

<script >
  // import Search from './Search'
  export default {
    data() {
      return {
        msg: 'Hello World!',
        detailPage: Detail
      }
    },
    components: {
      Detail
    },

    methods: {
      showDetailPageModally() {
        // this.$showModal(Detail);
        this.$showModal(Detail, { fullscreen: true});
      },
      goToDetailPage() {
        // this.$navigateTo(this.detailPage);
        this.$navigator.navigate('/main')
        // this.msg="123"
      },
      goBack(){
         this.$navigateBack()
      }
    }
  }

const Detail = {
  template: `
   <Frame>
      <Page>
        <ActionBar title="Modal"/>
        <StackLayout>
          <Button @tap="$modal.close" text="Close" />
        </StackLayout>
      </Page>
    </Frame>
  `,

};
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
