/* Begin ActionBar */

.action-bar__inner {
  align-items: center;
  padding: 16 12;
}

.action-bar__title {
  flex-grow: 1;

  font-size: 18;
  @extend .font-600;
  opacity: 0;
}

.action-bar--compact {
  .action-bar__title {
    @include animation(fade-in, 500ms);
  }
}

.action-bar__prefix,
.action-bar__suffix {
  align-items: center;
}

.action-bar__prefix {
  margin-right: 8;
}

.action-bar__suffix {
  margin-left: 8;
}

.ns-android {
  .action-bar--grey {
    background-color: $grey-1;
  }

  .action-bar--white {
    background-color: $white;
  }
}

.ns-ios {
  .action-bar--grey {
    .action-bar__inner {
      background-color: $grey-1;
    }
  }

  .action-bar--white {
    .action-bar__inner {
      background-color: $white;
    }
  }
}

/* End ActionBar */
