// Begin Badge

.badge {
  width: auto;
  padding: 4 6;

  font-size: 12;
  @extend .font-600;

  border-radius: $border-radius-md;

  &.badge--info {
    color: $blue-4;
    background-color: $blue-1;
  }

  &.badge--error {
    color: $red-4;
    background-color: $red-1;
  }

  &.badge--warning {
    color: $orange-4;
    background-color: $orange-1;
  }

  &.badge--success {
    color: $green-4;
    background-color: $green-1;
  }
}

// End Badge
