// Begin Bottom Navigation

BottomNavigation {
  width: 100%;
  height: 100%;
}

.bottom-navigation-wrapper {
  width: 100%;
  padding-top: 2px;
}

.bottom-navigation-overlay {
  &.bottom-navigation-overlay--show {
    @include animation(pulse-overlay, 200ms);
  }

  &.bottom-navigation-overlay--hide {
    @include animation(pulse-overlay, 200ms);
    animation-direction: reverse;
  }
}

.bottom-navigation-container {
  width: 100%;

  background-color: $grey-1;
}

.bottom-navigation__item {
  flex-direction: column;
  @extend .flex-center;
  flex: 1;

  min-width: 0;
  width: 100%;
  @extend .py-8;

  color: $grey-5;

  Label {
    margin-top: 4;

    font-size: 10;
    @extend .font-700;
    color: $grey-5;
  }

  &.selected {
    .icon {
      color: $primary;
    }

    Label {
      color: $grey-7;
    }
  }
}

.bottom-navigation__item--first {
  border-top-left-radius: $border-radius-xl;
}

.bottom-navigation__item--last {
  border-top-right-radius: $border-radius-xl;
}

%bottom-navigation-content {
  background-color: $white;
  @include border-top-radius($border-radius-xl);
}

.ns-ios {
  .bottom-navigation__inner {
    @extend %bottom-navigation-content;
  }
}

.ns-android {
  .bottom-navigation {
    @extend %bottom-navigation-content;
  }
}

// End Bottom Navigation
