// Begin Buttons
 

.btn {
  @extend .flex-center;

  border-radius: $border-radius-md;
}

.btn--primary {
  color: $white;
  background-color: $primary;
}

.btn--secondary {
  color: $primary;
  background-color: $secondary;
}

.btn--default {
  color: $grey-7;
  background-color: $grey-1;
}

.btn--ghost {
  &.btn--primary {
    color: $primary;
    background-color: transparent;
  }

  &.btn--secondary {
    color: $grey-7;
    background-color: transparent;
  }
}

.btn--facebook {
  color: $white;
  background-color: $facebook;
}

.btn--google {
  color: $grey-7;
  background-color: $google;
}

.btn--rounded {
  border-radius: $border-radius-max;
}

.btn__prefix,
.btn__suffix,
.btn__text {
  align-items: center;
}

.btn--medium {
  padding: 12 16;

  .btn__text {
    font-size: 14;
    @extend .font-600;
  }

  .btn__prefix {
    margin-right: 8;
  }

  .btn__suffix {
    margin-left: 8;
  }

  &.btn--icon {
    padding: 12;

    .btn__prefix {
      margin-right: 0;
    }
  }
}

.btn--small {
  padding: 8 12;

  .btn__text {
    font-size: 12;
    @extend .font-600;
  }

  .btn__prefix {
    margin-right: 4;
  }

  .btn__suffix {
    margin-left: 4;
  }

  &.btn--icon {
    padding: 8;

    .btn__prefix {
      margin-right: 0;
    }
  }
}

// End Buttons
