// Begin Checkbox

.checkbox {
  align-items: center;

  padding: 6;

  &.checkbox--checked {
    .checkbox__wrapper {
      @include animation(pulse-2, 300ms);
      animation-direction: reverse;
    }

    .checkbox__inner {
      @include animation(pulse-1, 300ms);
      animation-direction: reverse;
    }

    .checkbox__icon {
      @include animation(scale-up, 300ms);
      animation-direction: reverse;
    }
  }

  &.checkbox--unchecked {
    .checkbox__wrapper {
      @include animation(pulse-2, 300ms);
    }

    .checkbox__inner {
      @include animation(pulse-1, 300ms);
    }

    .checkbox__icon {
      @include animation(scale-up, 300ms);
    }
  }
}

.checkbox__wrapper {
  width: 20;
  min-width: 20;
  height: 20;
  padding: 1;

  border-radius: 6;
}

.checkbox__inner {
  @extend .flex-center;
  height: 100%;

  border-radius: 5;
}

.checkbox__icon {
  color: $white;
}

.checkbox__label {
  padding-left: 22;

  @extend .font-600;
}

.ns-ios {
  .checkbox__inner {
    padding-top: 1;
  }
}

.ns-android {
  .checkbox__inner {
    padding-top: 2;
  }
}

// End Checkbox
