// Begin Date Time Picker

.time-picker__inner {
  padding: 12 16 8;

  font-size: 16;
  @extend .font-400;
  placeholder-color: $grey-5;
  color: $grey-7;

  border-bottom-width: 2;
  border-bottom-color: transparent;
}

.time-picker__suffix {
  padding: 12 16 10;

  font-size: 16;
  color: $grey-5;
}

// End Date Time Picker
