/* Begin Form Item */

.form-item {
  &.focused {
    .form-item__label {
      color: $primary;
    }
  }
}

.form-item__label {
  margin-bottom: 2;

  font-size: 12;
  @extend .font-700;
  color: $grey-6;
}

.form-item__validation-message {
  align-items: center;

  margin-top: 2;

  @extend .font-600;
}

/* End Form Item */
