/* Begin Messages */

.message {
  @extend .flex-center;

  padding: 8;

  color: $white;

  border-radius: $border-radius-sm;

  .message__body {
    flex-grow: 1;
    @extend .px-8;

    @extend .font-600;
  }

  &.message--info {
    background-color: $teal-3;
  }

  &.message--error {
    background-color: $red-3;
  }

  &.message--warning {
    background-color: $orange-3;
  }

  &.message--success {
    background-color: $green-3;
  }
}

/* End Messages */
