.modal {
  background-color: rgba(0, 0, 0, 0.4);

  &.modal--show {
    @include animation(pulse-overlay, 200ms);

    .modal-container {
      @include animation(fade-in, 200ms);
    }
  }

  &.modal--hide {
    @include animation(pulse-overlay, 200ms);
    animation-direction: reverse;

    &.modal--popup {
      .modal-container {
        @include animation(fade-in, 200ms);
        animation-direction: reverse;
      }
    }
  }
}

.modal--bottom {
  align-items: flex-end;

  .modal-container {
    @include border-top-radius($border-radius-xl);
  }
}

.modal--popup {
  padding: 32;
  align-items: center;

  .modal-container {
    border-radius: $border-radius-xl;
  }
}

.modal-container {
  flex-grow: 1;
  background-color: $white;
}

.modal-header {
  justify-content: flex-end;
  padding: 16;
}

.modal-title {
  flex-grow: 1;
  padding-right: 16;

  font-size: 18;
  @extend .font-600;
}

.modal-body {
  padding: 0 16 16;
}
