/* Begin Progress Bar */

.progress {
  StackLayout {
    height: 4;

    border-radius: $border-radius-sm;
  }

  .progress__value {
    background-color: $grey-7;
  }

  .progress__bar {
    background-color: $grey-4;
  }

  &.progress--primary {
    .progress__value {
      background-color: $primary;
    }

    .progress__bar {
      background-color: $grey-2;
    }
  }
}

/* End Progress Bar */
