// Begin Radio

.radio--list {
  flex-direction: column;
}

.radio {
  align-items: center;

  padding: 6;

  &.radio--selected {
    .radio__wrapper {
      @include animation(pulse-2, 250ms);
      animation-direction: reverse;
    }

    .radio__inner {
      @include animation(pulse-1, 250ms);
      animation-direction: reverse;
    }

    .radio__dot {
      @include animation(scale-up, 250ms);
      animation-direction: reverse;
    }
  }

  &.radio--unselected {
    .radio__wrapper {
      @include animation(pulse-2, 250ms);
    }

    .radio__inner {
      @include animation(pulse-1, 250ms);
    }

    .radio__dot {
      @include animation(scale-up, 250ms);
    }
  }
}

.radio__wrapper {
  width: 20;
  min-width: 20;
  height: 20;
  padding: 1;

  border-radius: $border-radius-max;
}

.radio__inner {
  @extend .flex-center;
  padding: 2 0;

  border-radius: $border-radius-max;
}

.radio__label {
  padding-left: 22;

  @extend .font-600;
}

.radio__dot {
  color: $white;
}

.ns-ios {
  .radio__inner {
    padding-top: 1;
  }
}

.ns-android {
  .radio__inner {
    padding-top: 2;
  }
}

// End Radio
