// Begin Switch

.switch {
  width: 46;
  height: 24;
  padding: 1;

  border-radius: $border-radius-max;

  &.switch--checked {
    @include animation(pulse-2, 300ms);
    animation-direction: reverse;

    .switch__inner {
      @include animation(pulse-1, 300ms);
      animation-direction: reverse;
    }

    .switch__toggle {
      @include animation(toggle, 300ms);
      animation-direction: reverse;
    }
  }

  &.switch--unchecked {
    @include animation(pulse-2, 300ms);

    .switch__inner {
      @include animation(pulse-1, 300ms);
    }

    .switch__toggle {
      @include animation(toggle, 300ms);
    }
  }

  &.disabled {

  }
}

.switch__inner {
  border-radius: $border-radius-max;
}

.switch__toggle {
  height: 22;
  width: 22;
  background-color: $white;
  border-radius: $border-radius-max;
}

// End Switch

// Begin Keyframe

@keyframes toggle {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(22);
  }
}


// End Keyframe
