// Begin Text Field

.text-field {
  height: 46;

  background-color: $grey-1;
  border-radius: $border-radius-md;
  border-width: 1;
  border-color: $grey-2;

  &.focused {
    background-color: $white;
    border-color: $primary;
  }
}

.text-field__inner {
  padding: 12 16 10;

  font-size: 16;
  @extend .font-400;
  placeholder-color: $grey-5;
  color: $grey-7;

  border-bottom-width: 0;
  border-bottom-color: transparent;
}

// End Text Field
