<template>
  <BPage
    theme="white"
    has-action-close
    @close="$navigator.navigate('/auth', { clearHistory: true })"
  >
    <template #content>
      <BDockContainer stretchLastChild="false">
        <StackLayout dock="top">
          <Image
            src="res://loging_in_verify_email"
            width="255"
            height="237"
            class="mt-80"
          />
          <BLabel text="Check your email" class="h3 text-center mt-16" />
          <BLabel textWrap class="text-16 text-center mt-8">
            <FormattedString>
              <Span text="An email has been sent to " />
              <Span :text="forgotPasswordEmail" class="font-700" />
              <Span text="with a link to reset your password." />
            </FormattedString>
          </BLabel>
        </StackLayout>
        <StackLayout dock="bottom" class="mt-8">
          <BLabel
            text="If you did not receive any email, please check your junk/spam folder"
            class="text-10 font-600 c-grey-6 text-center"
          />
          <BButton
            secondary
            class="mt-8"
            text="Resend email"
            @tap="handleResendEmail"
          />
          <BLabel
            text="Entered wrong email?"
            class="text-10 font-600 c-grey-6 text-center mt-24"
          />
          <BButton
            ghost
            secondary
            class="mt-8 mb-28"
            text="Change email"
            @tap="$navigator.navigate('/auth/forgot-password')"
          />
        </StackLayout>
      </BDockContainer>
    </template>
  </BPage>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ForgotPasswordSuccessScreen",
  computed: {
    ...mapState("auth", ["forgotPasswordEmail"]),
  },
  methods: {
    handleResendEmail() {
    //   try {
    //     this.forgotPasswordEmail &&
    //       this.$services.identity.sendResetPasswordLink({
    //         email: this.forgotPasswordEmail,
    //       });
    //   } catch (error) {
    //     console.log(error);
    //     alert("Somthing went wrong!");
    //   }
    },
  },
};
</script>
