<template>
  <BPage title="Forgot password" theme="white" has-action-back>
    <template>
      <BStackContainer>
        <BTextField
          v-model="email"
          label="Email"
          hint="Enter your email"
          keyboardType="email"
        />
      </BStackContainer>
    </template>
    <template #bottom>
      <BButton primary text="Reset password" @tap="handleResetPasswordTap" />
    </template>
  </BPage>
</template>

<script>
import { mapActions } from "vuex";
import { Dialogs } from "@nativescript/core";
// import { required, email } from "vuelidate/lib/validators";

export default {
  name: "ForgotPasswordScreen",
  data() {
    return {
      email: "",
      error: "",
    };
  },
  validations: {
    email: {
      // required,
      // email,
    },
  },
  methods: {
    ...mapActions("auth", ["setForgotPasswordEmail"]),
    async handleResetPasswordTap() {
      // this.$v.$touch();
      // if (!this.$v.$invalid) {
        // try {
        //   // Call API
        //   await this.$services.identity.sendResetPasswordLink({
        //     email: this.email,
        //   });

        //   // Save email to vuex
        //   this.setForgotPasswordEmail(this.email);

        //   // Navigate to success screen
          this.$navigator.navigate("/auth/forgotPasswordSuccess");
        // } catch (error) {
        //   this.error = this.$t("vuelidate.messages.notExisted", [
        //     this.$t("vuelidate.fields.email"),
        //   ]);
        //   console.log(error);
        //   Dialogs.alert("Something went wrong!");
        // }
      // }
    },
  },
};
</script>
