<template>
  <BPage  title="Login with email" theme="white" has-action-back>
    <template>
      <BStackContainer>
        <FlexboxLayout class="flex-center py-64">
          <Image src="res://logo" width="238" height="110" />
        </FlexboxLayout>
        <BTextField
          v-model="email"
          label="Email"
          hint="Enter your registered email"
          keyboard-type="email"/>
        <BPasswordField
          v-model="password"
          class="mt-16"
          label="Password"
          hint="Enter your password" 
		  />
        <BMessage
          v-if="error"
          error
          class="mt-16"
          :text="error"
          @dismiss="error = ''"
        />
        <BButton
          primary
          class="mt-24"
          text="Log in"
        />
        <BButton
          ghost
          primary
          class="mt-16"
          text="Forgot password"
          @tap="$navigator.navigate('/auth/forgotPassword')"
        />
      </BStackContainer>
    </template>
  </BPage>
</template>

<script>
import { mapActions } from "vuex";
// import { required } from "vuelidate/lib/validators";

export default {
  name: "LoginScreen",
  data() {
    return {
      email: "tam.mai@bigin.vn",
      password: "123456@Bigin",
      error: null,
    };
  },
  validations: {
    email: {
    //   required,
    },
    password: {
    //   required,
    },
  },
  methods: {
    // ...mapActions("common", ["setLoading"]),
    // async handleLoginButtonTap() {
    //   this.$v.$touch();
    //   if (!this.$v.$invalid) {
    //     try {
    //       this.setLoading(true);
    //       await this.$services.auth.login({
    //         username: this.email,
    //         password: this.password,
    //       });
    //       this.setLoading(false);

    //       this.$navigator.navigate("/main", { clearHistory: true });
    //     } catch (err) {
    //       this.setLoading(false);
    //       const { error } = JSON.parse(err.content);
    //       this.error =
    //         error === "invalid_grant"
    //           ? "Your account information was entered incorrectly."
    //           : "Something went wrong!";
    //     }
    //   }
    // },
  },
};
</script>
