<template>
  <BPage
    title="Create an account"
    theme="white"
    has-action-back
    @close="$navigator.navigate('/auth', { clearHistory: true })"
  >
    <template>
      <BStackContainer>
        <Label text="What is your name?" class="h2" />
        <BTextField
          class="mt-24"
          label="Full name"
          hint="Enter your full name"
        />
      </BStackContainer>
    </template>
    <template #bottom>
      <Label text="1 of 3 steps" class="fs-12 font-700 text-right" />
      <BProgress :value="1" :maxValue="3" class="mt-8" />
      <BButton
        primary
        class="mt-8"
        text="Continue"
        @tap="handleContinue"
      />
    </template>
  </BPage>
</template>

<script>
// import { required } from "vuelidate/lib/validators";
import { mapState, mapActions } from "vuex";

export default {
  name: "RegisterStep1Screen",
  data() {
    return {
      name: "",
    };
  },
  validations: {
    name: {
      // required,
    },
  },
  computed: {
    // ...mapState("auth", ["registerName"]),
  },
  created() {
    // if (this.registerName) {
    //   this.name = this.registerName;
    // }
  },
  methods: {
    // ...mapActions("auth", ["setRegisterName"]),
    handleContinue() {
    //   // If validation passed
    //   this.$v.$touch();
    //   if (!this.$v.$invalid) {
    //     this.setRegisterName(this.name);
        this.$navigator.navigate("/auth/registerStep2");
    //   }
    },
  },
};
</script>
