<template>
  <BPage
    theme="white"
    has-action-close
    @close="$navigator.navigate('/auth', { clearHistory: true })"
  >
    <template #content>
      <BDockContainer>
        <StackLayout dock="top">
          <Image
            src="res://loging_in_verify_email"
            width="255"
            height="237"
            class="mt-80"
          />
          <BLabel text="Check your mailbox" class="h3 text-center mt-16" />
          <BLabel class="text-16 text-center mt-8">
            <FormattedString>
              <Span text="An email has been sent to " />
              <Span :text="registerEmail" class="font-700" />
              <Span text="with a link to verify your account" />
            </FormattedString>
          </BLabel>
        </StackLayout>
        <StackLayout dock="bottom">
          <BLabel
            text="If you did not receive any email, please check your junk/spam folder"
            class="text-10 font-600 c-grey-6 text-center"
          />
          <BButton
            secondary
            class="mt-8"
            text="Resend email"
            @tap="handleResendEmail"
          />
          <BLabel
            text="Entered wrong email?"
            class="text-10 font-600 c-grey-6 text-center mt-24"
          />
          <BButton
            ghost
            secondary
            class="mt-8 mb-28"
            text="Change email"
            @tap="$navigator.navigate('/auth/register-step-2')"
          />
        </StackLayout>
        <StackLayout></StackLayout>
      </BDockContainer>
    </template>
  </BPage>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "RegisterSuccessScreen",
  computed: {
    ...mapState("auth", ["registerEmail", "registerName", "registerPassword"]),
  },
  methods: {
    async handleResendEmail() {
      try {
        this.registerEmail &&
          (await this.$services.identity.sendResetPasswordLink({
            email: this.registerEmail,
          }));
      } catch (error) {
        console.log(error);
        alert("Something went wrong!");
      }
    },
  },
};
</script>
