<template>
  <BPage
    title="Create an account"
    theme="white"
    has-action-back
    has-action-close
    @close="$navigator.navigate('/auth', { clearHistory: true })"
  >
    <template>
      <BStackContainer>
        <Label text="Enter your password" class="h2" />
        <BPasswordField
          v-model="password"
          class="mt-24"
          label="Password"
          hint="Enter your password"
          help-text="Must contain at least 6 characters"
           />
        <BPasswordField
          v-model="retypePassword"
          class="mt-16"
          label="Re-type password"
          hint="Re-type your password"
          help-text="Must contain at least 6 characters"
         
        />
      </BStackContainer>
    </template>
    <template #bottom>
      <Label text="3 of 3 steps" class="fs-12 font-700 text-right" />
      <BProgress :value="3" :maxValue="3" class="mt-8" />
      <BButton primary class="mt-16" text="Finish" @tap="handleFinish" />
    </template>
  </BPage>
</template>

<script>
import { Dialogs } from "@nativescript/core";
import { mapState, mapActions } from "vuex";
// import { required, sameAs, minLength } from "vuelidate/lib/validators";
// import {
//   containsAlphaAndNum,
//   containsCapital,
//   containsSpecial,
// } from "~/core/plugins/vuelidate/validators/custom";

export default {
  name: "RegisterStep3Screen",
  data() {
    return {
      password: "",
      retypePassword: "",
      error: "",
    };
  },
  validations: {
    password: {
      // required,
      // minLength: minLength(8),
      // containsSpecial,
      // containsCapital,
      // containsAlphaAndNum,
    },
    retypePassword: {
      // required,
      // sameAs: sameAs("password"),
    },
  },
  computed: {
    ...mapState("auth", ["registerEmail", "registerName", "registerPassword"]),
  },
  methods: {
    ...mapActions("auth", ["setRegisterPassword"]),
    async handleFinish() {
      // try {
        // If validation passed
        // this.$v.$touch();
        // if (!this.$v.$invalid) {
        //   this.setRegisterPassword(this.password);
        //   await this.$services.tourguide.register({
        //     name: this.registerName,
        //     email: this.registerEmail,
        //     password: this.registerPassword,
        //   });
          this.$navigator.navigate("/auth/registerSuccess");
      //   }
      // } catch (error) {
      //   this.error = this.$t("vuelidate.messages.existed", [
      //     this.$t("vuelidate.fields.email"),
      //   ]);
      //   console.log(error);
      //   Dialogs.alert("Somthing went wrong!");
      // }
    },
  },
};
</script>
