<template>
  <BPage
    title="Create an account"
    theme="white"
    has-action-back
    @close="$navigator.navigate('/auth', { clearHistory: true })"
  >
    <template>
      <BStackContainer>
        <Label text="Your email please" class="h2" />
        <BTextField
          v-model="email"
          class="mt-24"
          label="Email"
          hint="Enter your email"
          keyboardType="email"
        />
      </BStackContainer>
    </template>
    <template #bottom>
      <Label text="2 of 3 steps" class="fs-12 font-700 text-right" />
      <BProgress :value="2" :maxValue="3" class="mt-8" />
      <BButton
        primary
        class="mt-8"
        text="Continue"
        suffix-icon="arrow-right"
        @tap="handleContinue"
      />
    </template>
  </BPage>
</template>

<script>
import { mapState, mapActions } from "vuex";
// import { required, email } from "vuelidate/lib/validators";

export default {
  name: "RegisterStep2Screen",
  data() {
    return {
      email: "",
      error: "",
    };
  },
  validations: {
    email: {
      // required,
      // email,
    },
  },
  computed: {
    ...mapState("auth", ["registerEmail"]),
  },
  created() {
    if (this.registerEmail) {
      this.email = this.registerEmail;
    }
  },
  methods: {
    ...mapActions("auth", ["setRegisterEmail"]),
    async handleContinue() {
  //     // If validation passed
      // this.$v.$touch();
      // if (!this.$v.$invalid) {
      //   const emailExisted = await this.$services.identity.checkExistsEmail(
      //     this.email
      //   );

      //   if (emailExisted) {
      //     this.error = this.$t("vuelidate.messages.existed", [
      //       this.$t("vuelidate.fields.email"),
      //     ]);
      //     return false;
      //   }

      //   this.setRegisterEmail(this.email);
        this.$navigator.navigate("/auth/registerStep3");
      // }
    },
  },
};
</script>
