<template>
  <BPage title="Reset password" theme="white">
    <template #actionBarPrefix>
      <BIconLabel name="arrow-left" :size="24" @tap="$navigateBack()" />
    </template>
    <template>
      <BStackContainer>
        <BPasswordField
          v-model="password"
          label="New password"
          hint="Enter new password"
          helpText="Must contain at least 6 characters"
          validationMessage=""
        />
        <BPasswordField
          v-model="retypePassword"
          class="mt-16"
          label="Re-type new password"
          hint="Re-type new password"
          helpText="Must contain at least 6 characters"
          validationMessage=""
        />
      </BStackContainer>
    </template>
    <template #bottom>
      <BButton primary text="Reset password" />
    </template>
  </BPage>
</template>

<script >
export default {
  name: "ResetPasswordScreen",
  data() {
    return {
      password: "",
      retypePassword: "",
    };
  },
  methods: {},
};
</script>
