<template>
  <StackLayout
    :class="[
      'action-bar',
      `action-bar--${theme}`,
      { 'action-bar--compact': compact },
    ]"
    v-shadow="compact ? 2 : 0"
  >
    <GridLayout columns="auto, *, auto" class="action-bar__inner">
      <FlexboxLayout
        col="0"
        v-if="$slots.prefix"
        class="action-bar__prefix"
        verticalAlignment="center"
      >
        <slot name="prefix"></slot>
      </FlexboxLayout>
      <Label
        col="1"
        :text="title"
        :class="[
          'action-bar__title',
          compact ? 'action-bar__title--show' : 'action-bar__title--hide',
        ]"
      />
      <FlexboxLayout
        v-if="$slots.suffix"
        col="2"
        verticalAlignment="center"
        class="action-bar__suffix"
      >
        <slot name="suffix"></slot>
      </FlexboxLayout>
    </GridLayout>
  </StackLayout>
</template>

<script>
export default {
  name: "BActionBar",
  props: {
    title: {
      type: String,
      default: "",
    },
    compact: {
      type: Boolean,
      default: false,
    },
    theme: {
      type: String,
      default: "grey",
    },
  },
};
</script>
