<template>
  <StackLayout v-shadow="2" class="bottom-container">
    <StackLayout class="bottom-container__inner">
      <slot></slot>
    </StackLayout>
  </StackLayout>
</template>

<script>
export default {
  name: "BBottomContainer",
};
</script>
