<template>
  <FlexboxLayout
    :class="[
      'btn',
      computedButtonStyle,
      computedButtonType,
      computedButtonSize,
    ]"
    v-on="$listeners"
  >
    <FlexboxLayout v-if="$slots.prefix || prefixIcon" class="btn__prefix">
      <slot name="prefix">
        <BIconLabel
          v-if="prefixIcon"
          :name="prefixIcon"
          :size="small ? 12 : 14"
        />
      </slot>
    </FlexboxLayout>
    <FlexboxLayout v-if="text || $slots.default" class="btn__text">
      <slot>
        <Label :text="text" />
      </slot>
    </FlexboxLayout>
    <FlexboxLayout v-if="$slots.suffix || suffixIcon" class="btn__suffix">
      <slot name="suffix">
        <BIconLabel
          v-if="suffixIcon"
          :name="suffixIcon"
          :size="small ? 12 : 14"
        />
      </slot>
    </FlexboxLayout>
  </FlexboxLayout>
</template>

<script >
export default {
  name: "BButton",
  props: {
    text: {
      type: String,
      default: "",
      required: true,
    },
    prefixIcon: {
      type: String,
      default: "",
    },
    suffixIcon: {
      type: String,
      default: "",
    },
    ghost: {
      type: Boolean,
      default: false,
    },
    secondary: {
      type: Boolean,
      default: false,
    },
    primary: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: Boolean,
      default: false,
    },
    facebook: {
      type: Boolean,
      default: false,
    },
    google: {
      type: Boolean,
      default: false,
    },
    small: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    computedButtonStyle() {
      return (
        (this.google && "btn--google") ||
        (this.facebook && "btn--facebook") ||
        (this.secondary && "btn--secondary") ||
        (this.primary && "btn--primary") ||
        "btn--default"
      );
    },
    computedButtonType() {
      return (this.icon && "btn--icon") || (this.ghost && "btn--ghost") || "";
    },
    computedButtonSize() {
      return (this.small && "btn--small") || "btn--medium";
    },
  },
};
</script>
