<template>
  <DockLayout class="container" row="1" :stretchLastChild="stretchLastChild">
    <StackLayout dock="bottom" class="mt-12" />
    <slot></slot>
  </DockLayout>
</template>

<script>
export default {
  name: "BDockContainer",
  props: {
    stretchLastChild: {
      type: String,
      default: "false",
    },
  },
};
</script>
