<template>
  <StackLayout
    :class="{ 'form-item': label || validationMessage, focused: isFocused }"
  >
    <Label v-if="label" class="form-item__label" :text="label" />
    <slot></slot>
    <BHelpText
      v-if="helpText && !validationMessage"
      class="mt-2"
      :text="helpText"
    />
    <FlexboxLayout
      v-if="validationMessage"
      class="form-item__validation-message"
    >
      <BIconLabel name="error" class="c-red-3 mr-4" :size="12" />
      <BLabel class="text-10 c-red-3" :text="validationMessage" />
    </FlexboxLayout>
  </StackLayout>
</template>

<script>
export default {
  name: "BFormItem",
  props: {
    label: {
      type: String,
      default: "",
    },
    helpText: {
      type: String,
      default: "",
    },
    validationMessage: {
      type: String,
      default: "",
    },
    isFocused: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
