<template>
  <FlexboxLayout class="help-text">
    <BIconLabel name="information" :size="12"/>
    <BLabel class="text-10 ml-4" :text="text" />
  </FlexboxLayout>
</template>

<script>
export default {
  name: "BHelpText",
  props: {
    text: {
      type: String,
      default: "",
      required: true,
    },
  },
};
</script>
