<template>
  <BButton icon v-on="$listeners">
    <template #prefix>
      <BIconLabel :name="name" :size="small ? 16 : 22" />
    </template>
  </BButton>
</template>

<script>
export default {
  name: "BIconButton",
  props: {
    name: {
      type: String,
      required: true,
    },
    small: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
