<template>
  <Label v-on="$listeners" :class="`icsz-${size}`">
    <FormattedString>
      <BIcon :name="name" :size="size" />
    </FormattedString>
  </Label>
</template>

<script>
export default {
  name: "BIconLabel",
  props: {
    name: {
      type: String,
      required: true,
    },
    size: {
      type: Number,
      default: 16,
    },
  },
};
</script>
