<template>
  <Span :text="iconCode" :class="['icon', iconSize]" />
</template>

<script >
import icons from "../assets/icons.json";

export default {
  name: "BIcon",
  props: {
    name: {
      type: String,
      required: true,
    },
    size: {
      type: Number,
    },
  },
  computed: {
    iconCode() {
      const icon = icons.find((icon) => icon.name === this.name);
      return String.fromCharCode(icon ? Number("0x" + icon.content) : 0x0000);
    },
    iconSize() {
      return this.size && `icsz-${this.size}`;
    },
  },
};
</script>
