<template>
  <Label :textWrap="textWrap">
    <slot>
      <FormattedString>
        <Span :text="text" />
      </FormattedString>
    </slot>
  </Label>
</template>

<script>
export default {
  name: "BLabel",
  props: {
    text: {
      type: String,
      default: "",
      required: true,
    },
    textWrap: {
      type: Boolean,
      default: true,
    },
  },
};
</script>
