<template>
  <FlexboxLayout :class="['message', computedMessageType]">
    <BIconLabel :name="computedMessageIconName" size="32" />
    <BLabel class="message__body text-14" :text="text" />
    <BIconLabel name="close" size="16" @tap="$emit('dismiss')" />
  </FlexboxLayout>
</template>

<script>
export default {
  name: "BMessage",
  props: {
    text: {
      type: String,
      default: "",
      required: true,
    },
    error: {
      type: Boolean,
      default: false,
    },
    success: {
      type: Boolean,
      default: false,
    },
    warning: {
      type: Boolean,
      default: false,
    },
    dismissAfter: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    computedMessageType() {
      return (
        (this.error && "message--error") ||
        (this.success && "message--success") ||
        (this.warning && "message--warning") ||
        "message--info"
      );
    },
    computedMessageIconName() {
      // Waiting icons from Bitch Danh
      // return (
      //   (this.error && "error") ||
      //   (this.success && "success") ||
      //   (this.warning && "warning") ||
      //   "info"
      // );
      return "error";
    },
  },
  mounted() {
    if (this.text.length > 0 && this.dismissAfter > 0) {
      setTimeout(() => {
        this.$emit("dismiss");
      }, this.dismissAfter * 1000);
    }
  },
};
</script>
