<template>
  <Page ref="page" actionBarHidden="true" :marginBottom="computedMarginBottom">
    <GridLayout :class="['page-container', computedPageBgClass]">
      <GridLayout rows="auto, *, auto">
        <slot name="content">
          <ScrollView
            row="1"
            scrollBarIndicatorVisible="false"
            @scroll="onScroll"
            id="scrollView"
          >
            <StackLayout>
              <StackLayout id="scrollAnchor" />
              <BLabel
                v-if="title"
                ref="pageTitle"
                class="page-title text-36"
                :text="title"
              />
              <slot></slot>
            </StackLayout>
          </ScrollView>
        </slot>
        <slot name="actionbar">
          <BActionBar
            v-if="!actionBarHidden"
            row="0"
            :title="title"
            :compact="isShowTitle"
            :theme="theme"
          >
            <slot slot="prefix" name="actionBarPrefix">
              <BIconLabel
                v-if="hasActionBack"
                name="arrow-left"
                :size="24"
                @tap="$navigateBack()"
              />
            </slot>
            <slot slot="suffix" name="actionBarSuffix">
              <BIconLabel
                v-if="hasActionClose"
                name="close"
                :size="24"
                @tap="handleActionClose"
              />
            </slot>
          </BActionBar>
        </slot>
        <slot name="bottomContainer">
          <BBottomContainer
            v-if="$slots.bottom"
            row="2"
            verticalAlignment="bottom"
          >
            <slot name="bottom"></slot>
          </BBottomContainer>
        </slot>
      </GridLayout>
      <FlexboxLayout
        v-if="$slots.modalBottom && this.isModalBottomVisible"
        :class="['modal modal--bottom', computedBottomModalClass]"
      >
        <slot name="modalBottom"></slot>
      </FlexboxLayout>
      <FlexboxLayout
        v-if="$slots.modalPopup && this.isModalPopupVisible"
        :class="['modal modal--popup', computedPopupModalClass]"
      >
        <slot name="modalPopup"></slot>
      </FlexboxLayout>
      <GridLayout v-if="isLoading" class="loading-container">
        <ActivityIndicator class="activity-indicator" busy="true" />
      </GridLayout>
    </GridLayout>
  </Page>
</template>

<script>
import { mapState } from "vuex";
// import { registerSoftKeyboardCallback } from "@bigin/ns-soft-keyboard";

var UIActivityIndicatorViewStyleWhiteLarge;

export default {
  name: "BPage",
  props: {
    title: String,
    theme: {
      type: String,
      default: "grey",
    },
    actionBarHidden: {
      type: Boolean,
      default: false,
    },
    hasActionBack: {
      type: Boolean,
      default: false,
    },
    hasActionClose: {
      type: Boolean,
      default: false,
    },
    keyboardOverlay: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isShowTitle: false,
      keyboardHeight: 0,
    };
  },
  watch: {
    focusedElement() {
      this.scrollToFocusedElement();
    },
  },
  computed: {
    ...mapState("common", [
      "focusedElement",
      "isLoading",
      "isModalBottomVisible",
      "isModalPopupVisible",
      "isShowBottomModal",
      "isShowPopupModal",
    ]),
    computedPageBgClass() {
      return (
        (this.theme === "white" && "bg-white") ||
        (this.theme === "grey" && "bg-grey-1") ||
        ""
      );
    },
    computedMarginBottom() {
      return !this.keyboardOverlay && this.keyboardHeight;
    },
    computedBottomModalClass() {
      return this.isShowBottomModal ? "modal--show" : "modal--hide";
    },
    computedPopupModalClass() {
      return this.isShowPopupModal ? "modal--show" : "modal--hide";
    },
  },
  mounted() {
    // Register callback when keyboard change its visibility

    const pageView = this.$refs.page.nativeView;

    pageView.on("loaded", () => {
      // registerSoftKeyboardCallback((height) => {
      //   const bottom = pageView ? pageView.getSafeAreaInsets().bottom : 0;
      //   const keyboardHeight = height < 1 ? 0 : height - bottom / 2;

      //   if (this.keyboardHeight !== keyboardHeight) {
      //     this.keyboardHeight = keyboardHeight;
      //   }
      // });
    });
  },
  methods: {
    onScroll(event) {
      // Change visibility of title in action bar

      this.isShowTitle = event.scrollY > 22;
    },
    scrollToFocusedElement() {
      // Scroll to focusing element

      const pageView = this.$refs.page.nativeView;
      const scrollView = pageView && pageView.getViewById("scrollView");
      const scrollAnchor = pageView && pageView.getViewById("scrollAnchor");
      const focusedElement = pageView.getViewById(this.focusedElement);
      const focusedElementPosition =
        focusedElement && focusedElement.getLocationRelativeTo(scrollAnchor);
      const offset = focusedElementPosition
        ? focusedElementPosition.y - this.keyboardHeight / 2
        : 0;

      scrollView &&
        scrollAnchor &&
        scrollView.scrollToVerticalOffset(offset, true);
    },
    handleActionClose() {
      this.$emit("close");
    },
    // setIOSActivityIndicator(args) {
    //   // Increase size of activity indicator in the ios platform

    //   const ai = args.object;
    //   if (ai && ai.ios) {
    //     ai.ios.activityIndicatorViewStyle = UIActivityIndicatorViewStyleWhiteLarge;
    //   }
    // },
  },
};
</script>
