<template>
  <BTextField :secure="secure" v-bind="$props" v-on="$listeners">
    <BIconButton
      slot="suffix"
      :name="secure ? 'password-show' : 'password-hide'"
      @tap="secure = !secure"
    />
  </BTextField>
</template>

<script>
export default {
  name: "BPasswordField",
  props: {
    hint: String,
    isEnabled: {
      type: Boolean,
      default: true,
    },
    editable: {
      type: Boolean,
      default: true,
    },
    maxLength: {
      type: Number,
      default: 9999
    },
    keyboardType: String,
    returnKeyType: String,
    autocorrect: Boolean,
    value: String,
    label: String,
    helpText: String,
    validationMessage: String,
  },
  data() {
    return {
      secure: true,
    };
  },
};
</script>
