<template>
  <AbsoluteLayout :class="['progress', { 'progress--primary': primary }]">
    <StackLayout width="100%" class="progress__bar" />
    <StackLayout :width="computedValue" class="progress__value" />
  </AbsoluteLayout>
</template>

<script>
export default {
  name: "BProgress",
  props: {
    value: {
      type: Number,
      default: 0,
      required: true,
    },
    maxValue: {
      type: Number,
      default: 100,
      required: true,
    },
    primary: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    computedValue() {
      return this.value > this.maxValue
        ? "100%"
        : (this.value / this.maxValue) * 100 + "%";
    },
  },
};
</script>
