<template>
  <StackLayout row="1" class="container">
    <slot></slot>
    <StackLayout class="mt-12" />
  </StackLayout>
</template>

<script>
export default {
  name: "BStackContainer",
  inheritAttrs: true,
};
</script>
