<template>
  <FlexboxLayout class="text-divider">
    <StackLayout class="text-divider__line" />
    <Label class="text-divider__text" :text="text" />
    <StackLayout class="text-divider__line" />
  </FlexboxLayout>
</template>

<script>
  export default {
    name: "BTextDivider",
    props: {
      text: {
        type: String,
        default: "or",
      },
    },
  };
</script>
