<template>
  <BFormItem
    :isFocused="isFocused"
    :label="label"
    :validation-message="validationMessage"
    :helpText="helpText"
  >
    <GridLayout
      columns="auto, *, auto"
      :class="['text-field', isFocused ? 'focused' : '']"
    >
      <FlexboxLayout v-if="$slots.prefix" col="0">
        <slot name="prefix"></slot>
      </FlexboxLayout>
      <TextField
        col="1"
        class="text-field__inner"
        :id="_uid"
        :ref="`textField${_uid}`"
        :text="value"
        :hint="hint"
        :isEnabled="isEnabled"
        :editable="editable"
        :maxLength="maxLength"
        :secure="secure"
        :keyboardType="keyboardType"
        :returnKeyType="returnKeyType"
        :autocorrect="autocorrect"
        @blur="handleBlur"
        @focus="handleFocus"
        @returnPress="handleReturnPress"
        @textChange="handleTextChange"
      />
      <FlexboxLayout v-if="$slots.suffix" col="2">
        <slot name="suffix"></slot>
      </FlexboxLayout>
    </GridLayout>
  </BFormItem>
</template>

<script >
import { mapActions } from "vuex";
// ReturnKeyType: "done" | "next" | "go" | "search" | "send"
// KeyboardType: "datetime" | "phone" | "number" | "url" | "email" | "integer"
export default {
  name: "BTextField",
  props: {
    hint: String,
    isEnabled: {
      type: Boolean,
      default: true,
    },
    editable: {
      type: Boolean,
      default: true,
    },
    maxLength: {
      type: Number,
      default: 9999,
    },
    secure: Boolean,
    keyboardType: String,
    returnKeyType: String,
    autocorrect: Boolean,
    value: String,
    label: String,
    helpText: String,
    validationMessage: String,
  },
  data() {
    return {
      isFocused: false,
    };
  },
  watch: {
    secure() {
      const refName = `textField${this._uid}`;
      this.$refs[refName] && this.$refs[refName].nativeView.focus();
    },
  },
  methods: {
    ...mapActions("common", ["setFocusedElement"]),
    handleFocus(event) {
      const element = event.object;
      this.isFocused = true;
      this.setFocusedElement(this._uid);
      this.$emit("focus", event);
    },
    handleBlur(event) {
      this.isFocused = false;
      this.$emit("blur", event);
    },
    handleTextChange(event) {
      this.$emit("input", event.value);
      this.$emit("textChange", event);
    },
    handleReturnPress(event) {
      this.$emit("returnPress", event);
    },
  },
};
</script>
