/* Begin Text Color, Background Color Class */

@each $name, $value in $color-maps {
  .c-#{$name} {
    color: $value;
  }

  .bg-#{$name} {
    background-color: $value;
  }
}

/* End Text Color, Background Color Class */
