// Begin Other
.invisible {
  visibility: collapse;
}

.pull-left {
  horizontal-align: left;
}

.pull-right {
  horizontal-align: right;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

// Horizontal centering
.m-x-auto {
  horizontal-align: center;
}

// Vertical centering
.m-y-auto {
  vertical-align: center;
}

// End Other

// Begin Divider

.text-divider {
  align-items: center;

  padding: 24 48;
  width: 100%;
}

.text-divider__text {
  padding: 0 4;

  font-size: 12;
  @extend .font-600;
  color: $grey-6;
}

.text-divider__line {
  flex-grow: 1;

  margin-top: 1;

  border-top-width: 1;
  border-top-color: $grey-5;
}

// End Divider
