/* Begin Margin - Padding */

@each $step in 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 40,
  64, 80
{
  .m-#{$step} {
    margin: #{$step};
  }

  .mx-#{$step} {
    margin-left: #{$step};
    margin-right: #{$step};
  }

  .my-#{$step} {
    margin-top: #{$step};
    margin-bottom: #{$step};
  }

  .mt-#{$step} {
    margin-top: #{$step};
  }

  .mr-#{$step} {
    margin-right: #{$step};
  }

  .mb-#{$step} {
    margin-bottom: #{$step};
  }

  .ml-#{$step} {
    margin-left: #{$step};
  }

  .mi-#{$step} {
    margin: #{-$step};
  }

  .mxi-#{$step} {
    margin-left: #{-$step};
    margin-right: #{-$step};
  }

  .myi-#{$step} {
    margin-top: #{-$step};
    margin-bottom: #{-$step};
  }

  .mti-#{$step} {
    margin-top: #{-$step};
  }

  .mri-#{$step} {
    margin-right: #{-$step};
  }

  .mbi-#{$step} {
    margin-bottom: #{-$step};
  }

  .mli-#{$step} {
    margin-left: #{-$step};
  }

  .p-#{$step} {
    padding: #{$step};
  }

  .px-#{$step} {
    padding-left: #{$step};
    padding-right: #{$step};
  }

  .py-#{$step} {
    padding-top: #{$step};
    padding-bottom: #{$step};
  }

  .pt-#{$step} {
    padding-top: #{$step};
  }

  .pr-#{$step} {
    padding-right: #{$step};
  }

  .pb-#{$step} {
    padding-bottom: #{$step};
  }

  .pl-#{$step} {
    padding-left: #{$step};
  }
}

/* End Margin - Padding */
