// Begin Font Family with Font Weight

$fonts: (
  "Light": 300,
  "Regular": 400,
  "Medium": 500,
  "SemiBold": 600,
  "Bold": 700,
  "ExtraBold": 900,
);

@each $name, $weight in $fonts {
  .font-#{$weight} {
    font-family: "Inter-#{$name}", Inter-#{$name};
    font-weight: $weight;
  }
}

@each $fontSize, $lineHeight in $textSizes {
  .ns-ios {
    .text-#{$fontSize} {
      font-size: $fontSize;
      line-height: $lineHeight;
    }
  }
  .ns-android {
    .text-#{$fontSize} {
      font-size: $fontSize;
      line-height: ($lineHeight - $fontSize)/2;
    }
  }
}

@each $step in 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32 {
  .icsz-#{$step} {
    width: $step;
    min-width: $step;
    height: $step;

    font-size: $step;
  }
}

// End Font Family with Font Weight

// Begin Heading

.h1,
.h2,
.h3,
.h4,
.h5 {
  @extend .font-600;
}

@include text-size(h1, 36, 48);
@include text-size(h2, 28, 38);
@include text-size(h3, 20, 26);
@include text-size(h4, 18, 24);
@include text-size(h5, 16, 22);

// End Heading

// Begin common
.page-title {
  margin: 8 12 24;

  @extend .font-600;
}

.body {
  @extend .font-400;
  font-size: 16;
}

.ns-ios {
  .body {
    line-height: 22;
  }
}
.ns-android {
  .body {
    line-height: 3;
  }
}

// End common

// Begin Icon Class

.icon {
  font-family: "icomoon", icomoon !important;
  font-weight: 400;
}

// End Font Icon Class

// Begin Align

.text-initial {
  text-align: initial;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// End Align
