@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes pulse-1 {
  from {
    background-color: $grey-1;
  }

  to {
    background-color: $primary;
  }
}

@keyframes pulse-2 {
  from {
    background-color: $grey-2;
  }

  to {
    background-color: $primary;
  }
}

@keyframes pulse-overlay {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

