// Begin General //

.ns-root,
.ns-modal {
  @extend .font-400;
  font-size: 16;
  color: $grey-7;
}

.ns-root {
  background-color: $grey-1;
}

// FormattedString Spans inherit the background of their parent

Span {
  background-color: transparent;
}

// End General //
