// Begin General

.container {
  > * {
    @extend .mx-12;
  }
}

%card-content {
  padding: 16;

  background-color: $white;
  border-radius: $border-radius-xl;
}

.bottom-container__inner {
  padding: 8 12 16;
}

%bottom-container-content {
  background-color: $white;
  @include border-top-radius($border-radius-xl);
}

.ns-ios {
  .card__inner {
    @extend %card-content;
  }

  .bottom-container__inner {
    @extend %bottom-container-content;
  }
}

.ns-android {
  .card {
    @extend %card-content;
  }

  .bottom-container {
    @extend %bottom-container-content;
  }
}

// End General

// Begin Loading

.loading-container {
  background-color: $white;

  .activity-indicator {
    width: 64;
    height: 64;
    color: $primary;
  }
}

// End Loading

// Begin Overlay

.overlay {
  width: 100%;

  background-color: rgba($black, 0.4);
}

// End Overlay

// Begin Help Text

.help-text {
  align-items: center;

  @extend .font-600;
  color: $grey-6;
  flex-grow: 1;
}

// End Help Text
